body{
    background-color: #decdac;
    margin:0;
    font-family: cursive;
}
.popup{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 28px;
    padding: 8px;
    /* div center */
    position: fixed;
    /* inset: 0;
    margin: auto; */

    /* opning button side only */
    box-shadow: 0 5px 4px 2px  rgb(0, 0, 0 ,0.3);
    transform: translate(-50% , -50%) scale(0);
    /* animaction */
    /* transform: scale(0); */
    /* transition: transform 0.3s ease-in-out; */
    transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    /* display: none; */
}

.popup-open .popup{
    /* display: block; */
    transform: scale(1);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(1);



}
.close-icon{
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-family: sans-serif;
    

}
.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.3);

}
.popup-open .overlay {
    display: block;
}